<br>
<div class="row">
  <div class="col-md-10">
    <strong>All Product List</strong>
  </div>
  <div class="col-md-2">
    <button class=" btn btn-dark float-right" type="button" (click)="addProductPopup()" data-bs-toggle="modal" data-bs-target="#addEditProductModal">Add Product</button>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <!-- <th scope="col">Display Image</th> -->
      <th scope="col">MRP</th>
      <th scope="col">DP</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product_data of all_product_data; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{product_data.name}}</td>
      <!-- <td>{{product_data.uploadPhoto}}</td> -->
      <td>{{product_data.mrp}}</td>
      <td>{{product_data.dp}}</td>
      <!-- <td>{{product_data.productDesc}}</td> -->
      <td>{{product_data.status}}</td>
      <td>
       <span class="sim-pointer" (click)="editProductPopup(product_data.id)" data-bs-toggle="modal" data-bs-target="#addEditProductModal">Edit</span> &nbsp; &nbsp;  &nbsp;
       <span class="sim-pointer" (click)="deleteProduct(product_data.id)">Delete</span>
      </td>
    </tr>
  </tbody>
</table>
<div class="modal fade" id="addEditProductModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{popup_header}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]="addEditProductDForm">
              <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label for="productImage">Product Image Url</label>
                <input type="url" class="form-control" formControlName="uploadPhoto">
              </div>
              <div class="form-group">
                <label for="productDescription">Product Description</label>
                <textarea rows="3" class="form-control" formControlName="productDesc"></textarea>
              </div>
              <div class="form-group">
                <label for="productMRP">Product MRP</label>
                <input type="text" class="form-control" formControlName="mrp">
              </div>
              <div class="form-group">
                <label for="productDP">Product DP</label>
                <input type="text" class="form-control" formControlName="dp">
              </div>
              <div class="form-group">
                <label for="productStatus">Product Status</label>
                <select class="form-control" formControlName="status">
                  <option value="darft">Draft</option>
                  <option value="inactive">Inactive</option>
                  <option value="publish">Publish</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" (click)="addNewProduct()" *ngIf="add_prouct">Add Product</button>
                <button class="btn btn-warning" (click)="updateProduct()" *ngIf="edit_prouct">Update Product</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
